@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica_bold";
  src: url('../public/Helvetica_Neue/HelveticaNeueBlack.otf');
}
@font-face {
  font-family: "Helvetica";
  src: url('../public/Helvetica_Neue/HelveticaNeueMedium.otf');
}
body {
  margin: 0;
  background-color: #1a2531;
  font-family: "Helvetica";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

