.bg-box{
    background-color: #f9f9f9;

}
.bg-box-product{
    border-radius: 5px;
}
@font-face {
    font-family: 'HelveticaLight';
    src: url('/public/Helvetica_Neue/HelveticaNeueLight.otf');
  }
.counter{
    font-family: 'HelveticaLight';
}