.bg-box{
    background-color: #2f3d4e;
}
@font-face {
    font-family: 'HelveticaLight';
    src: url('/public/Helvetica_Neue/HelveticaNeueLight.otf');
  }
.counter{
    font-family: 'HelveticaLight';
}